<div class="w-full h-screen flex flex-col lg:flex-row  justify-center items-center">
  <div class="w-1/2 bg-[#F9F5F5] h-screen flex justify-center items-center">
    <img src="../../assets/Image.png" alt="" class="w-3/5 h-3/5" />
  </div>
  <div class="w-full lg:w-1/2 bg-[#FFE6E6] h-1/2 lg:h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl text-[#7E5758] font-bold font-mono tracking-wider my-6">Happy Shopping</h1>
    <p class="text-xl text-[#7E5758] tracking-wide mb-6">Let's You Sign In!</p>
    <form class="flex flex-col w-full justify-center items-center">
      <input class="inp" type="text" placeholder="Username" />
      <input class="inp" type="password" placeholder="password" />
      <button class="py-2 px-4  bg-white text-[#7E5758] text-lg font-semibold tracking-wide rounded-full hover:bg-pink-50">Get Started</button>
    </form>
    <div class="w-1/2 flex justify-between items-center mt-6 cursor-pointer">
      <p>Creat Account</p>
      <p>Need Help?</p>
    </div>
  </div>
</div>
